<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.moltbook.agent</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/caffeinate</string>
		<string>-s</string>
		<string>{{VENV_BIN}}/contemplative-agent</string>
		<string>-v</string>
		<string>--auto</string>
		<string>run</string>
		<string>--session</string>
		<string>{{SESSION_MINUTES}}</string>
	</array>

	<key>WorkingDirectory</key>
	<string>{{PROJECT_ROOT}}</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{VENV_BIN}}:/usr/local/bin:/usr/bin:/bin</string>
	</dict>

	<key>StartCalendarInterval</key>
	<array>
		{{CALENDAR_INTERVALS}}
	</array>

	<key>StandardOutPath</key>
	<string>{{LOG_PATH}}</string>
	<key>StandardErrorPath</key>
	<string>{{LOG_PATH}}</string>
</dict>
</plist>
