<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.moltbook.distill</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/caffeinate</string>
		<string>-s</string>
		<string>{{VENV_BIN}}/contemplative-agent</string>
		<string>distill</string>
		<string>--days</string>
		<string>1</string>
	</array>

	<key>WorkingDirectory</key>
	<string>{{PROJECT_ROOT}}</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{VENV_BIN}}:/usr/local/bin:/usr/bin:/bin</string>
	</dict>

	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>{{DISTILL_HOUR}}</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>

	<key>StandardOutPath</key>
	<string>{{LOG_PATH}}</string>
	<key>StandardErrorPath</key>
	<string>{{LOG_PATH}}</string>
</dict>
</plist>
